html {
    font-size: 22px;
}

@font-face {
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


nav {
    display: inline-flex;
    color: rgb(128, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 1px 51x;
    justify-content: space-around;
    max-width: 80%;
    margin: 10px;
    padding: 10px;
    
}
body {
    text-align: center
    ;
}
.space {
    color: white;
    text-decoration: none;
}

body {
   background-image: url(david-vives-TZdh8NdfIfs-unsplash.jpg);
   background-size: cover;
   opacity: 1;
}
.main {
    color:white;
    text-align: center;
    
}
h1 {
    color:rgb(229, 212, 212);
    
    font-weight : bolder;
    text-align : center;
    text-shadow: 1px 1px rgb(73, 71, 71);
    font-size: 60px;
    -webkit-text-stroke: 1px rgb(73, 71, 71);
}
h2 {
    color:rgb(167, 207, 242);
    padding: 10px;
    font-weight : bolder;
    text-align : center;
    text-shadow: 1px 1px white;
    font-size: 40px;
}
ul {
    display: inline-block;
    opacity: 1;
    text-shadow: 1px 1px 50px black;
    color: white;
}
.textbut {
    text-align: center;
}

.page1 {
    display: inline-block;
    border: 2px solid black;
    color: white;
    background-color: rgb(3, 66, 34);
    text-align: left;
    font-size: 16px;
    opacity: .85;
    padding: 40px 60px;
    border-radius: 50%;
    font-weight: 800;
    text-shadow: 2px 2px 20px white, 2px 2px 20px white, 2px 2px 20px white, 
    2px 2px 20px white, ;
    text-decoration: none;
}
a:hover {
    
    opacity: 1;
    transform: rotate(5deg);
    transition-duration: 1000ms;
    
}
nav a:hover { 
    color: yellow;
    transform: rotate(10deg);
}
.list {
    background-color: black;
    border: 2px rgb(224, 190, 190) solid;
    opacity: .85;
    padding: 10px 25px;
    
    }
.people1 {
    text-align: center;
    justify-content: center;
    justify-items: center;

}
.pbutton {
   
   display: inline-block;
   border: 2px solid black;
    background-color: rgb(51, 24, 188);
    color: white;
    text-align: left;
    font-size: 25px;
    opacity: .75;
    padding: 40px 60px;
    border-radius: 50%;
    font-weight: 800;
    text-shadow: 2px 2px 20px white, 2px 2px 20px white, 2px 2px 20px white, 
    2px 2px 20px white, ;
    text-decoration: none;
}
.projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    width: auto;
}

.pics {
    height: 25vh;
    width: 33vh;
    font-size: 30px;
   
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
    object-fit: fill;
}
 .imgdescription {
    position: absolute
    font-size : 60px;
    color : black;
    background-color : white;
    
    visibility : hidden;
    opacity : 0;
}
p {
    font-size: 20px;
}
.pics:hover .imgdescription {
    
    opacity: 1;
    transform: rotate(5deg);
    visibility: visible;
    
}

    
   
    
}
#highlight {
    color: rgb(245, 244, 244);
    font-weight : bolder;
    text-align : center;
    text-shadow: 1px 1px rgb(16, 14, 14);
}

}
.one {
    color: rgb(246, 246, 246);
    background-image: url(hooverdam.png);
    background-size: cover;
    background-position: center;
    
}
.two {
    color: rgb(4, 11, 16);
    background-image: url(chunnel.png);
    background-size: cover;
    background-position: center;
}
.three {
    background-image: url(wind-turbines.jpg);
    background-size: cover;
    background-position: center;
}
.four {
    background-image: url(solar.png);
    background-size: cover;
    background-position: center;
}
.five {
    background-image: url(genessee.jpg);
    background-size: cover;
    background-position: center;
}
.six {
    color: aliceblue;
    background-image: url(alberta.png);
    background-size: cover;
    background-position: center;
}
.People {
    display: grid;
    grid-template-areas: "Person1 Person2"
                         "Group Group"
                         "Person3 Person4"
                         ;
    grid-template-rows: 200px 300px 200px 100px;
    grid-template-columns: 50vw 50vw;
    font-size: 50px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    gap: 10px;
    margin: auto;
    text-align: center;
    color: white;
    justify-content: center;
    
}


.Person1 {
    grid-area: Person1;
    width: auto;
    max-height: 200px;
    background-image: url("jeremy-budiman-G_dVm4GdHbw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    text-align: right;
    line-height: 1.35em;
    
}
.Person2 {
    grid-area: Person2;
    width: auto;
    max-height: 200px;
    object-fit: cover;
    background-image: url("human-3782189_1280.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
    text-indent: .5em;
    line-height: 1.35em;
}
.Person3 {
    grid-area: Person3;
    width: auto;
    max-height: 200px;
    object-fit: scale-down;
    background-image: url("beard-1867788_1280.jpg");
    background-size: cover;
    background-position: center;
    text-align: right;
    line-height: 1.35em;
}
.Person4 {
    grid-area: Person4;
    width: auto;
    max-height: 200px;
    object-fit: cover;
    background-image : url("good-looking-bearded-man-drinking-coffee-by-river-park.jpg");
    background-size: cover;
    background-position: end;
    text-align: left;
    text-indent: .5em;
    line-height: 1.35em;
}
.Group {
    grid-area: Group;
    width: auto;
    max-height: 300px;
    object-fit: contain;
    background-image: url("pexels-fauxels-3184398.jpg");
    background-size: cover;
    background-position: -.5ch -2ch;
}
.technical1 {
    position: relative;
    max-height: 150px;
    width: auto;
    z-index = 3;
    justify-content: center;
}
.Group::after {
  content: "Me";
  position: absolute;
  top: 270px;
  white-space: pre;
  right: 50%;
  transform: translateX(50%);
  font-weight: bold;
  font-size: 30px;
  z-index = 5;
}
.Contact {
   position: relative;
   font-size: 45px;
   color: white;
   text-shadow: 5ch black;
   background-color: rgb(9, 15, 12);
   width : 50%;
   height : 25vh;
   display: inline-block;
   border-radius: 5px;
   align-content: center;
}
@media all and (max-width: 1080px), portrait {
    
    a:hover {opacity: 1;
    }
    
    nav a:hover { 
        color: yellow;
        transform: rotate(10deg)
    }
    .pics {
        font-size: 2em
    }
    
    .pics:hover .imgdescription  {
    font-size: 1.5em;    
    transform: rotate(5deg);
    visibility: visible;
    opacity: 1;
    }
}
@media only screen, landscape {
    
    a:hover {opacity: 1;
    }
    
    nav a:hover { 
        color: yellow;
        transform: rotate(10deg)
    }
    .pics {
        font-size: 1.5em;
    )
    .pics:hover .imgdescription  {
    font-size: 1em;    
    transform: rotate(5deg);
    visibility: visible;
    opacity: 1;
    }
}
